@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --clr-light: #ececec;
  --clr-dark: #1c1c1c;
  --clr-green: rgb(0, 165, 0);
  --clr-primary: #adadad;
  --clr-secondary: #3b3b3b;
  --clr-background: #ececec;
  --clr-hover-background: #c4c4c4;
  --clr-text: #1c1c1c;
  --clr-hover-text: #000000;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif; }

.darkmode {
  --clr-light: #ececec;
  --clr-dark: #1c1c1c;
  --clr-green: rgb(107, 215, 107);
  --clr-primary: #393939;
  --clr-secondary: #cfcfcf;
  --clr-background: #1c1c1c;
  --clr-hover-background: #262626;
  --clr-text: #ececec;
  --clr-hover-text: #ffffff;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  --ff-class: bi-moon-stars-fill; }

.negro {
  color: #383838;
  font-size: 20px; }

.negro:active {
  transform: none !important; }

.rosa {
  color: #deac9c;
  font-size: 20px; }

.rosa:active {
  transform: none !important; }

.blanco {
  color: #cbcbcb;
  font-size: 20px; }

.blanco:active {
  transform: none !important; }

.verde {
  color: #67917a;
  font-size: 20px; }

.verde:active {
  transform: none !important; }

.rojo {
  color: #a1373a;
  font-size: 20px; }

.rojo:active {
  transform: none !important; }

.azul {
  color: #0e4166;
  font-size: 20px; }

.azul:active {
  transform: none !important; }

.naranja {
  color: #fb795d;
  font-size: 20px; }

.naranja:active {
  transform: none !important; }

.bi-facebook:hover {
  color: #77c8e3; }

.bi-facebook {
  color: var(--clr-text);
  font-size: 1.5rem;
  transition: all .2s; }

.bi-tiktok:hover {
  color: violet; }

.bi-tiktok {
  color: var(--clr-text);
  font-size: 1.5rem;
  transition: all .2s; }

.bi-instagram:hover {
  color: lightsalmon; }

.bi-instagram {
  color: var(--clr-text);
  font-size: 1.5rem;
  transition: all .2s; }

.bi-whatsapp:hover {
  color: lightgreen; }

.bi-whatsapp {
  color: var(--clr-text);
  font-size: 1.5rem;
  transition: all .2s; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

main section #contenedorTermos,
main section #contenedorMates,
main section #contenedorTermos13,
main section #contenedorBotellas {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

main section div .titulo-sin-stock {
  color: red;
  background-color: var(--clr-light);
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem; }

main section .container {
  gap: 2rem; }
  main section .container .container-cards {
    display: flex;
    height: auto;
    gap: 2rem;
    padding: 15px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    scrollbar-width: none; }
    main section .container .container-cards .card {
      width: 160px;
      height: auto;
      display: flex;
      flex: 0 0 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 12px;
      background: var(--clr-background);
      border: solid var(--clr-primary) 2px; }
      main section .container .container-cards .card .image {
        padding: .7rem;
        position: relative; }
        main section .container .container-cards .card .image .comprar .carrito {
          position: absolute;
          left: 0;
          top: 0;
          color: var(--clr-green);
          font-size: 1.7rem;
          background-color: var(--clr-background);
          padding: .5rem;
          margin-left: 5px;
          margin-top: 5px;
          border-bottom-right-radius: 1rem; }
        main section .container .container-cards .card .image img {
          width: 100%;
          height: 330px;
          border-radius: 1rem; }
      main section .container .container-cards .card h2 {
        font-size: 20px;
        color: var(--clr-text);
        font-weight: bold;
        text-align: center; }
      main section .container .container-cards .card p {
        margin-top: 4px;
        font-size: 18px;
        color: var(--clr-text);
        font-weight: bold; }
      main section .container .container-cards .card .description {
        margin-top: 10px;
        color: var(--clr-text);
        font-size: 18px;
        text-align: start;
        font-weight: bold; }
      main section .container .container-cards .card .precio {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: var(--clr-green) !important; }
      main section .container .container-cards .card div .btn-left,
      main section .container .container-cards .card div .btn-right {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 2.5em;
        color: var(--clr-primary);
        transition: all .3s; }
      main section .container .container-cards .card div .btn-left:hover,
      main section .container .container-cards .card div .btn-right:hover {
        color: var(--clr-hover-text); }
  main section .container .container-cards::-webkit-scrollbar {
    width: 0px; }

main section .container-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main section .container-carousel .wrapper {
    background-color: var(--clr-background);
    max-width: 1200px;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    padding: 3rem; }
    main section .container-carousel .wrapper i {
      top: 50%;
      height: 44px;
      width: 44px;
      color: var(--clr-text);
      cursor: pointer;
      font-size: 2em;
      position: absolute;
      text-align: center;
      line-height: 44px;
      background: var(--clr-background);
      border-radius: 50%; }
    main section .container-carousel .wrapper i:first-child {
      left: -22px;
      display: none; }
    main section .container-carousel .wrapper i:last-child {
      right: -22px; }
    main section .container-carousel .wrapper .carousel {
      font-size: 0px;
      cursor: grab;
      overflow: hidden;
      white-space: nowrap;
      scroll-behavior: smooth; }
      main section .container-carousel .wrapper .carousel img {
        height: 340px;
        object-fit: cover;
        user-select: none;
        margin-left: 14px;
        width: calc(97% / 3); }
      main section .container-carousel .wrapper .carousel img:first-child {
        margin-left: 0px; }
      main section .container-carousel .wrapper .carousel .dragging {
        cursor: grab;
        scroll-behavior: smooth; }
        main section .container-carousel .wrapper .carousel .dragging img {
          pointer-events: none; }

.typewriter-important {
  text-align: center;
  padding: 1rem;
  margin-top: 4rem;
  color: red;
  background-color: var(--clr-background);
  font-size: 2.5rem; }

.typewriter {
  text-align: center;
  height: 20vh;
  padding: 1rem;
  margin-top: 2rem;
  color: var(--clr-light);
  font-size: 3.5rem; }

.typewriter-item {
  background-color: var(--clr-background);
  text-align: left;
  color: var(--clr-text);
  font-weight: bold; }

@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

footer {
  background-color: var(--clr-background);
  height: 10vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  --s: 140px;
  --_g: #0000 52%, #364e44 54% 57%, #0000 59%;
  background: radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s)/2), radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s)/2) 0, radial-gradient(farthest-side at 133.33% 50%, var(--_g)), radial-gradient(farthest-side at 50% -33.33%, var(--_g)), #67917A;
  background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667);
  scroll-behavior: smooth; }

a,
a:link,
a:visited,
a:active {
  text-decoration: none; }

li {
  list-style-type: none; }

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

i,
button {
  transition: transform 0.1s linear; }

i:active,
button:active {
  transform: scale(0.9); }

.abrir-menu,
.cerrar-menu,
.hidden,
.slider {
  display: none; }

header {
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 3rem 1.3rem 3rem;
  background-color: var(--clr-background); }
  header a {
    color: var(--clr-text);
    touch-action: manipulation; }
    header a .logo {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 2em; }
  header .navbar .navbar-list {
    gap: 2rem;
    display: flex;
    justify-content: space-between; }
    header .navbar .navbar-list #dark-mode-toggle {
      color: var(--clr-text); }
    header .navbar .navbar-list .navbar-item {
      list-style: none; }
      header .navbar .navbar-list .navbar-item .navbar-item-link {
        color: var(--clr-secondary); }
      header .navbar .navbar-list .navbar-item .navbar-item-link:hover {
        color: var(--clr-hover-text); }
    header .navbar .navbar-list .dropdown {
      position: relative;
      display: inline-block; }
      header .navbar .navbar-list .dropdown .dropbtn {
        cursor: pointer; }
      header .navbar .navbar-list .dropdown .dropdown-content {
        display: none;
        margin-top: 10px;
        position: absolute;
        background-color: var(--clr-background);
        min-width: 7rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 97;
        animation-name: dropdownAnimation;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out; }
        header .navbar .navbar-list .dropdown .dropdown-content a {
          padding: 12px 16px;
          text-decoration: none;
          display: block; }
        header .navbar .navbar-list .dropdown .dropdown-content a:hover {
          background-color: var(--clr-hover-background); }
      header .navbar .navbar-list .dropdown .show {
        display: block; }
  header .navbar .header-icons {
    display: none; }

main section .container-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 4rem; }
  main section .container-redes a {
    background-color: var(--clr-background);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    main section .container-redes a i {
      font-size: 2.5rem; }

main section #btn-scroll-home {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 46px;
  height: 46px;
  z-index: 98;
  position: fixed;
  border: solid #282828 2px;
  border-radius: 50%;
  background-color: var(--clr-light);
  bottom: 0;
  right: 0;
  margin: 2rem; }
  main section #btn-scroll-home i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-dark);
    font-size: 1rem; }

/* Títulos generales */
.titulos {
  padding: 1.5rem;
  color: var(--clr-text);
  opacity: .9;
  background-color: var(--clr-background);
  font-size: 2.4em;
  display: flex;
  text-align: center;
  justify-content: center; }

@media screen and (max-width: 580px) {
  html {
    background-image: url(https://i.ibb.co/2jHMsKP/fondo-mobile.jpg) !important;
    background-size: contain !important;
    background-repeat: repeat-y !important; }
    html body {
      background-color: rgba(0, 0, 0, 0.4) !important; }
      html body header .abrir-menu,
      html body header .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.4em;
        background-color: transparent;
        cursor: pointer;
        color: var(--clr-text); }
      html body header .navbar {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        width: 11.5rem;
        background-color: var(--clr-background);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
        z-index: 99;
        transform: translateX(100%); }
      html body header .visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%); }
      html body header nav .navbar-list {
        flex-direction: column;
        align-items: end; }
      html body header nav li .navbar-item-link {
        color: var(--clr-text);
        transition: color 0.3s ease; }
      html body header nav li .dropdown-content {
        right: 0; }
      html body header nav .header-icons {
        width: 100%;
        margin-top: 2rem;
        display: flex !important;
        justify-content: space-around;
        align-items: center; }
      html body main section .typewriter {
        height: 12rem;
        font-size: 2.5rem; }
      html body main section .container .container-cards .card .image img {
        height: unset;
        max-height: 330px !important; }
      html body main section .slider {
        aspect-ratio: 10/10;
        overflow: scroll;
        height: auto;
        width: 100%;
        position: relative;
        display: flex;
        scroll-snap-type: x mandatory;
        margin-bottom: 4rem;
        margin-top: 4rem;
        background-color: var(--clr-background);
        border-top: groove var(--clr-text) 10px;
        border-bottom: groove var(--clr-text) 10px; }
        html body main section .slider img {
          height: auto;
          width: auto;
          left: 0;
          position: sticky;
          object-fit: cover;
          scroll-snap-align: center; }
      html body main section div .wrapper {
        display: none; }
      html body main section .hidden_mobile {
        display: none !important; } }
