* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Navbar */

.logo {
    max-width: 5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #1c1c1c;
}

.navbar-list {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    list-style: none;
}

.navbar-item-link {
    text-decoration: none;
    color: #ececec;
}

.navbar-item-link:focus {
    color: rgb(161, 161, 161);
}

/* Cards */

.productos-img {
    width: 200px;
    height: 300px;
}

.productos-card {
    padding: 10px;
}

#contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos {
    color: #ececec;
    border: #191717 solid 1px;
    background-color: #191717;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 202px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/* Media */

@media screen and (max-width: 550px) {

    /* Media queries para menú hamburger */

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.4rem;
        background-color: transparent;
        cursor: pointer;
        color: #ececec;
        transition: color 0.3s ease;
    }

    .navbar {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        width: 11.5rem;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
        transform: translateX(100%);
    }

    .navbar.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .navbar-list {
        flex-direction: column;
        align-items: end;
    }

    .navbar-item-link {
        color: #ececec;
        transition: color 0.3s ease;
    }
}