//Botón para volver al inicio

main {
    section {
        #btn-scroll-home {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 46px;
            height: 46px;
            z-index: 98;
            position: fixed;
            border: solid #282828 2px;
            border-radius: 50%;
            background-color: var(--clr-light);
            bottom: 0;
            right: 0;
            margin: 2rem;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--clr-dark);
                font-size: 1rem;
            }
        }
    }
}