/* Títulos generales */

.titulos {
    padding: 1.5rem;
    color: var(--clr-text);
    opacity: .9;
    background-color: var(--clr-background);
    font-size: 2.4em;
    display: flex;
    text-align: center;
    justify-content: center;
}