// Footer

footer {
    background-color: var(--clr-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    p {
        color: var(--clr-primary);
    }
}