/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Fondo de la página */

html {
    background-image: url(/images/fondo.jpeg);
    background-size: contain;
    background-repeat: repeat;
    scroll-behavior: smooth;
}

/* Ocultar Slider y Menú hamburguesa en Desktop */

.abrir-menu,
.cerrar-menu,
.hidden,
.slider {
    display: none;
}

// Contenedor principal

.container {
    @extend %container_center_column;
}

// Typewriter

.typewriter-important {
    text-align: center;
    padding: 1rem;
    margin-top: 4rem;
    color: red;
    background-color: $blanco;
    font-size: 3rem;
}

.typewriter {
    height: 20vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 4rem;
    color: $blanco;
    font-size: 3rem;
}

.typewriter-item {
    background-color: antiquewhite;
    text-align: left;
    color: black;
    font-weight: bold;
}