// Fonts

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// Fondo de la página

html {
    --s: 140px;
    --_g: #0000 52%, #364e44 54% 57%, #0000 59%;
    background:
        radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s)/2),
        radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s)/2) 0,
        radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
        radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
        #67917A;
    background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667);
    scroll-behavior: smooth;
}

// Reset de estilos en links

a:link,
a:visited,
a:active {
    text-decoration: none;
}

// Oculatodres

.abrir-menu,
.cerrar-menu,
.hidden,
.slider {
    display: none;
}

// Contenedor principal

.container {
    @extend %container_center_row;
}

// Typewriter

.typewriter-important {
    text-align: center;
    padding: 1rem;
    margin-top: 4rem;
    color: red;
    background-color: $blanco;
    font-size: 2.5rem;
}

.typewriter {
    text-align: center;
    width: 100vw;
    height: 15vh;
    padding: 1rem;
    margin-top: 4rem;
    color: $blanco;
    font-size: 2.5rem;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.typewriter-item {
    background-color: antiquewhite;
    text-align: left;
    color: black;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}