// Navbar

header {
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 3rem 1.3rem 3rem;
    background-color: var(--clr-background);

    a {
        color: var(--clr-text);
        touch-action: manipulation;

        .logo {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 2em;
        }
    }

    .navbar {

        .navbar-list {
            gap: 2rem;
            display: flex;
            justify-content: space-between;

            #dark-mode-toggle {
                color: var(--clr-text);
            }

            .navbar-item {
                list-style: none;

                .navbar-item-link {
                    color: var(--clr-secondary);
                }

                .navbar-item-link:hover {
                    color: var(--clr-hover-text);
                }
            }

            .dropdown {
                position: relative;
                display: inline-block;

                .dropbtn {
                    cursor: pointer;
                }

                .dropdown-content {
                    display: none;
                    margin-top: 10px;
                    position: absolute;
                    background-color: var(--clr-background);
                    min-width: 7rem;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 97;
                    animation-name: dropdownAnimation;
                    animation-duration: 0.3s;
                    animation-timing-function: ease-in-out;

                    a {
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }

                    a:hover {
                        background-color: var(--clr-hover-background);
                    }
                }

                .show {
                    display: block;
                }
            }
        }

        .header-icons {
            display: none;
        }
    }
}