// Main

main {
    section {
        // Iconos de redes

        .container-redes {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            margin-bottom: 4rem;

            a {
                background-color: var(--clr-background);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .container-productos {
        margin: 10rem 0 10rem 0;
        display: grid;
        gap: 8rem;
        justify-content: center;
        grid-template-columns: 16rem 16rem;
        grid-template-rows: 16rem 16rem;
        grid-template-areas:
            "a b"
            "c d";

        #termos1l {
            grid-area: a;
        }

        #termos13l {
            grid-area: b;
        }

        #botellas {
            grid-area: c;
        }

        #mates {
            grid-area: d;
        }

        #termos1l,
        #termos13l,
        #botellas,
        #mates {
            font-size: 2rem;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-color: var(--clr-background);
            padding: 20px;
            border-radius: 20%;
            color: var(--clr-text);
            transition: transform .1s linear;
        }

        a:hover {
            transform: scale(.95);

            h3 {
                color: #67917a;
            }
        }
    }
}