// Main

main {
    section {
        // Iconos de redes

        .container-redes {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            margin-bottom: 4rem;

            a {
                background-color: var(--clr-background);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 2.5rem;
                }
            }
        }
    }
}