// Menú desplegable

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes arrowHighlight {
    0% {
        color: var(--clr-primary);
    }

    50% {
        color: var(--clr-hover-text)
    }

    100% {
        color: var(--clr-primary);
    }
}