// Cards

main {
    section {

        #contenedorTermos,
        #contenedorMates,
        #contenedorTermos13,
        #contenedorBotellas {
            margin: 1rem 1rem 1rem 1rem;
            display: flex;
            flex-wrap: wrap;
            overflow-x: auto;
            -webkit-user-select: none;
            // Safari
            -moz-user-select: none;
            // Firefox
            -ms-user-select: none;
            // IE 10+/Edge
            user-select: none;
            // Standard
        }

        div {
            .titulo-sin-stock {
                color: red;
                background-color: $blanco;
                font-size: 3rem;
                text-align: center;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
        }

        .container {
            gap: 2rem;

            .container-cards {
                display: flex;
                gap: 2rem;
                max-width: 380px;
                width: 100%;
                padding: 15px;
                scroll-snap-type: x mandatory;
                overflow-x: scroll;
                scroll-padding: 30px;
                box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
                scrollbar-width: none;

                .card {
                    display: flex;
                    flex: 0 0 100%;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1rem;
                    border-radius: 12px;
                    background: $negro;
                    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);

                    .image {
                        padding: .7rem;

                        .comprar {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .carrito {
                                position: absolute;
                                left: 0;
                                top: 0;
                                color: rgb(115, 220, 115);
                                font-size: 1.7rem;
                                background-color: $negro;
                                padding: .5rem;
                                border-bottom-right-radius: 1rem;
                            }
                        }

                        img {
                            height: 300px;
                            width: 100%;
                            border-radius: 1rem;
                        }
                    }

                    h2 {
                        font-size: 20px;
                        color: $blanco;
                        font-weight: bold;
                        text-align: center;
                    }

                    p {
                        margin-top: 4px;
                        font-size: 18px;
                        color: $blanco;
                        font-weight: bold;
                    }

                    .description {
                        margin-top: 10px;
                        color: $blanco;
                        font-size: 18px;
                        text-align: start;
                        font-weight: bold;
                    }

                    .precio {
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        color: rgb(137, 230, 137) !important;
                    }

                    div {

                        .btn-left,
                        .btn-right {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            font-size: 2.5em;
                            color: $gris;
                            transition: all .3s;
                        }

                        .btn-left:hover,
                        .btn-right:hover {
                            color: $blanco;
                        }

                    }
                }
            }

            .container-cards::-webkit-scrollbar {
                width: 0px;
            }
        }
    }
}