// Carousel

main {
    section {
        .container-carousel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .wrapper {
                background-color: var(--clr-background);
                max-width: 1200px;
                position: relative;
                margin-top: 5rem;
                margin-bottom: 5rem;
                border-radius: 1rem;
                padding: 3rem;

                i {
                    top: 50%;
                    height: 44px;
                    width: 44px;
                    color: var(--clr-text);
                    cursor: pointer;
                    font-size: 2em;
                    position: absolute;
                    text-align: center;
                    line-height: 44px;
                    background: var(--clr-background);
                    border-radius: 50%;
                }

                i:first-child {
                    left: -22px;
                    display: none;
                }

                i:last-child {
                    right: -22px;
                }

                .carousel {
                    font-size: 0px;
                    cursor: grab;
                    overflow: hidden;
                    white-space: nowrap;
                    scroll-behavior: smooth;

                    img {
                        height: 340px;
                        object-fit: cover;
                        user-select: none;
                        margin-left: 14px;
                        width: calc(97% / 3);
                    }

                    img:first-child {
                        margin-left: 0px;
                    }

                    .dragging {
                        cursor: grab;
                        scroll-behavior: smooth;

                        img {
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
}