// Map para el color de los productos

$colores_productos: (
    negro: #383838,
    rosa: #deac9c,
    blanco: #cbcbcb,
    verde: #67917a,
    rojo: #a1373a,
    azul: #0e4166,
    naranja: #fb795d,
);

@each $color_producto,
$color in $colores_productos {

    .#{$color_producto} {
        color: $color;
        font-size: 20px;
    }

    .#{$color_producto}:active {
        transform: none !important;
    }
}

// Map para el color de los icons

$colores_icons: (
    bi-facebook: rgb(119, 200, 227),
    bi-tiktok: violet,
    bi-instagram: lightsalmon,
    bi-whatsapp: lightgreen,
);

@each $color_icon,
$color in $colores_icons {

    .#{$color_icon}:hover {
        color: $color;
    }

    .#{$color_icon} {
        transition: all .15s linear;
        color: var(--clr-text);
        font-size: 1.5rem;
    }
}