* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: #282828;
}

/* Navbar */

.logo {
    max-width: 4rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    background-color: #1c1c1c;
}

.navbar-list {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    list-style: none;
}

.navbar-item-link {
    text-decoration: none;
    color: rgb(175, 175, 175);
}

.navbar-item-link:focus {
    color: #ececec;
}

/* Cards */

.productos-img {
    width: auto;
    height: auto;
}

.productos-card {
    padding: 10px;
}

#contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos {
    color: #ececec;
    border: #191717 solid 1px;
    background-color: #191717;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 15rem;
}

.titulos {
    padding: 1.5rem;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Footer */

footer {
    background-color: #1c1c1c;
    margin-top: 5rem;
    padding-bottom: 2rem;
}

footer div i {
    color: #ececec;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bi-whatsapp:hover {
    color: lightgreen;
}

.bi-instagram:hover {
    color: lightsalmon;
}

.bi-tiktok:hover {
    color: violet;
}

.bi-facebook:hover {
    color: lightblue;
}

/* Menú hamburguesa */

.abrir-menu,
.cerrar-menu {
    display: none;
}

/* Slider */

.slider {
    display: none;
}

/* Media queries */

@media screen and (max-width: 550px) {

    /* Menú hamburguesa */

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.4rem;
        background-color: transparent;
        cursor: pointer;
        color: #ececec;
        transition: color 0.3s ease;
    }

    .navbar {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        width: 11.5rem;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
        z-index: 99;
        transform: translateX(100%);
    }

    .navbar.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .navbar-list {
        flex-direction: column;
        align-items: end;
    }

    .navbar-item-link {
        color: #ececec;
        transition: color 0.3s ease;
    }

    /* Slider */

    .slider {
        aspect-ratio: 10/10;
        overflow: scroll;
        height: auto;
        width: 100%;
        border-radius: 4px;
        position: relative;
        display: flex;
        scroll-snap-type: x mandatory;
    }

    .slider img {
        height: auto;
        width: auto;
        left: 0;
        position: sticky;
        object-fit: cover;
        scroll-snap-align: center;
    }

    /* Ocultar scroll en firefox y otros navegadores */

    .slider {
        scrollbar-width: none;
    }

    .slider::-webkit-scrollbar {
        width: 0px;
    }
}